<html>
    <head>
        <title>Satyendra Niranjan blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Satyendra Niranjan First Blog</a></h1>
        </div>

        <div>


             {% for post in posts %}
            <div>
                 <p>published: {{ post.published_date }}</p>
                 <h2><a href="">{{ post.title }}</a></h2>
                 <p>{{ post.text|linebreaksbr }}</p>     </div>
             {% endfor %}
        </div>


            <p>published: 01.10.2019, 6:27</p>
            <h2><a href="">My second post</a></h2>
            <p>Je vais suivre mon chien</p>
        </div>
    </body>
</html>