<html>
    <head>
        <title>Satyendra Niranjan blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Satyendra Niranjan Blog</a></h1>
        </div>

        <div>
            <p>published: 01.10.2019, 6:27</p>
            <h2><a href="">My first post</a></h2>
            <p>petit a petit l'oiseau fait son nid</p>
        </div>

        <div>
            <p>published: 01.10.2019, 6:27</p>
            <h2><a href="">My second post</a></h2>
            <p>Je vais suivre mon chien</p>
        </div>
    </body>
</html>