{% extends 'tracker/base.html' %}

{% block content %}
<html>
<head>
    <style>
  table, th, td {
    border: 1px solid Black;
    border-collapse: collapse;
  }
  th, td {
  padding: 5px;
  text-align: left;
  }
  table.a {
  background-color: #FFFFFF;
  color: black;
  table-layout: auto;
  width: 100%;
}
table.b {
  background-color: #FFFFFF;
  color: black;
  table-layout: auto;
  width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
.download_link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: turquoise;
    text-decoration: underline;
    }
body { height: 1000px; }
thead{
    background-color:white;
}


    </style>
</head>
<body>

<h2 style="text-align: center; font-size: 48px;">Tracker Detail of Today</h2>
<a class="download_link" href="{% url 'some_view' %}">Export all users</a>
<p>Search icon on a button:
    <button type="button" class="btn btn-default"><a href="{% url 'search' %}" class="top-left"><span
            class="glyphicon glyphicon-search"></span>Search</a></button>
</p>
<div class="header" id="table-container">
    <table class="a" id="maintable">
        <thead>
        <tr>
            <th>User Name</th>
            <th>Cascade</th>
            <th>Technology</th>
            <th>Type</th>
            <th>Bandwidth Checked From LSM</th>
            <th>Market</th>
            <th>eNB/BTS</th>
            <th>LSM/BSM</th>
            <th>Created Date</th>
            <th>CSMS</th>
            <th>FE Name</th>
            <th>Mode of Communication</th>
            <th>Activity</th>
            <th>Activity Status</th>
            <th>Site Status pre Activity</th>
            <th>Site Status post Activity</th>
            <th>E-Link Status of BH0 for CDU30</th>
            <th>MJ Obejct Marked</th>
            <th>RET</th>
            <th>Alarms Preventing RET Conf</th>
            <th>Frequency(EARFCN) Checked From LSM/BSM</th>
            <th>IP Route/IP Address/VLAN ID Retrieved and Checked for CDU30 2.5</th>
            <th>VOLTE MME IP Configured</th>
            <th>Review LATP Complete</th>
            <th>Remarks</th>
            <th>OAR Date</th>
            <th>OAC Date</th>
            <th>Lock/Unlock Verified BY</th>
            <th>Verifier Status</th>
            <th>Final Comments</th>
        </tr>

        </thead>
        {% for item in latest_tracker_list %}
        <tbody>
        <tr>
            <td>{{item.created_date}}</td>
            {% if user.is_authenticated %}
            <td><h1><a href="{% url 'tracker_detail' pk=item.pk %}">{{ item.admin }}</a></h1></td>
            {% endif %}
            <td>{{item.cascade}}</td>
            <td>{{item.Technology}}</td>
            <td>{{item.Type}}
            <td>{{item.Bandwidth_Checked_From_LSM}}</td>
            <td>{{item.Market}}</td>
            <td>{{item.eNB}}</td>
            <td>{{item.LSM}}</td>
            <td>{{item.CSMS}}</td>
            <td>{{item.FE_Name}}</td>
            <td>{{item.Cic_Engineer}}</td>
            <td>{{item.Activity}}</td>
            <td>{{item.Activity_status}}</td>
            <td>{{item.Site_Status_pre_Activity}}</td>
            <td>{{item.Site_Status_post_Activity}}</td>
            <td>{{item.E_Link_Status_of_BH0_for_CDU30}}</td>
            <td>{{item.MJ_Object_Marked}}</td>
            <td>{{item.RET}}</td>
            <td>{{item.Alarms_Preventing_RET_Config}}</td>
            <td>{{item.Frequency_Earfcn_Checked_from_LSM_BSM}}</td>
            <td>{{item.IP_Route_or_IP_Address}}</td>
            <td>{{item.Volte_MME_IP_Config}}
            <td>{{item.Review_LATP_Complete}}</td>
            <td>{{item.Remarks}}</td>
            <td>{{item.OAR_Date}}</td>
            <td>{{item.OAC_Date}}</td>
            <td>{{item.Lock_Unlock_Verified_By}}
            <td>{{item.Verify_Status}}</td>
            <td>{{item.Final_Comments}}</td>
        </tr>
        </tbody>
        {% endfor %}

    </table>
    <div id="bottom_anchor">
    </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
function moveScroll(){
    var scroll = $(window).scrollTop();
    var anchor_top = $("#maintable").offset().top;
    var anchor_bottom = $("#bottom_anchor").offset().top;
    if (scroll>anchor_top && scroll<anchor_bottom) {
    clone_table = $("#clone");
    if(clone_table.length == 0){
        clone_table = $("#maintable").clone();
        clone_table.attr('id', 'clone');
        clone_table.css({position:'fixed',
                 'pointer-events': 'none',
                 top:0});
        clone_table.width($("#maintable").width());
        $("#table-container").append(clone_table);
        $("#clone").css({visibility:'hidden'});
        $("#clone thead").css({'visibility':'visible','pointer-events':'auto'});
    }
    } else {
    $("#clone").remove();
    }
}
$(window).scroll(moveScroll);
</script>

</html>

{% endblock %}
<!--
<a href="{% url 'tracker_detail' pk=item.pk %}">{{ item.admin }}</a>
  <td><h1><a href="{% url 'tracker_detail' pk=item.pk %}">{{ item.admin }}</a></h1></td>-->